/* CSS per Il nostro blog */
@layer reset{
    * {
        box-sizing: border-box;
        margin: 0;
        -webkit-tap-highlight-color:transparent;
      }
      h1,h2,h3,h4,h5,h6{
        text-wrap:balance;
      }
    }
    
    :root{
        --gradiente-conico:conic-gradient(#ff0000 12%, #00fff3 12%, #05d986 33%, #E7FBBE 33%, #E7FBBE 55%, #FFCBCB 55%, #fb980a 70%, #0ad1ff 70%, #B5DEFF 87%, #ffec21 87%);
        --gradiente-titolo:linear-gradient(135deg, #222 50%, transparent 50%);
    }
      :root,
      body {
        min-height: auto;
        min-block-size: 100%;
      }
      
      body {
        font-family: system-ui, sans-serif;
        margin: 0 auto;
        scroll-behavior: smooth;
      }
      
      .wrapper {
        max-width: 1280px;
        margin: 4rem auto;
        padding-inline: 1rem;
        & .heading {
          font-size: clamp(calc(2.5rem - -5vw), 12vw, 15vw);
          margin-bottom: 10vh;
          color: transparent;
      background: var(--gradiente-titolo);
      background-size: 150vmax 100%;
      background-position: 100% 0;
      background-clip: text;  
      -webkit-background-clip: text;
      -webkit-text-stroke: 1.5px #222;
      transition: all 0.6s ease-in-out;
      cursor: pointer;
      &:hover{
        background-position: 100% 0;
      }
        }
        & section {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
          gap: 1rem;
          grid-auto-rows: 180px 1fr auto;
          grid-auto-flow: dense;
          & article {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
            background-color: rgb(255, 255, 255);
            border-radius: 1.2ch;
            overflow: clip;
            display: grid;
            grid-row: span 3;
            grid-template-rows: subgrid;
            row-gap: 0px;
            @media(pointer:coarse){
                & :not(img){
                backdrop-filter:blur(25px);
                -webkit-backdrop-filter:blur(25px);
            }
        }
    
            & img {
              border-top-left-radius: inherit;
              border-top-right-radius: inherit;
      
              width: 100%;
              display: block;
              /*   height: 180px; */
              height: 100%;
              object-fit: cover;
            }
            & .description {
              display: none; /* Demo only: nascondiamo la descrizione e la mostriamo solo dove vogliamo */
              font-size: 13px;
              padding: 0 2ch 1ch;
            }
            & .read__more {
              color: #fff;
              text-decoration: none;
              font-weight: 600;
              padding: 1ch;
              grid-column: 1 / -1;
              text-align: center;
              @media(pointer:fine){
                color: blue;
                text-align:right;
              }
              & a{text-decoration: none;color:inherit;cursor:pointer}
            }
            &.large-article {
              @media (width > 967px) {
                grid-column: span 2;
                grid-template-columns: subgrid;
      
                & > img {
                  grid-column: 1 / -1;
                }
      
                & > h2 {
                  grid-column: 1 / -1;
                  font-size: 30px;
                }
      
                & .description {
                  display: block;
                }
              }
            }
            &:where(:nth-child(n + 9)) {
              &:last-child {
                grid-column: 1 / -1;
                @media (width>967px) {
                  grid-column: span 2;
                }
              }
              &:last-child:is(.large-article) {
                background: whitesmoke;
              }
            }
          }
          & h2 {
            font-size: 19px;
            align-self:center;
            background: color(xyz 0.68 0.72 0.78 / 0.29);
            @media(pointer:fine){background:0}
            &::first-letter{
              text-transform:uppercase;
            };
          }
          & .p1ch {
            padding: 1ch;
            align-self:stretch
          }
          
        }
      }